body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Arial Black', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  
  .quote {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .quote p {
    font-style: italic;
    margin: 20px 0; 
    font-size: 24px; 
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input, select, button {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
  }
  
  input::placeholder {
    color: #aaa;
  }
  
  button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #35d7ff;
  }
  
  #percentageInputs {
    margin-top: 20px;
  }
  
  #percentageInputs p {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #percentageInputs input {
    width: calc(50% - 12px);
    display: inline-block;
    margin-right: 10px;
  }
  
  .chart-container {
    width: 100%;
    text-align: center;
  }
  
  canvas {
    max-width: 100%;
    height: auto;
  }
  
  #results {
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }  

  .input-container {
    margin-bottom: 10px;
  }
  
  #remainingPercentage {
    margin-top: 10px;
  }
  
  #sharesChart {
    margin-top: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }